import(Matrix)

export(cp_nmu)
export(cp_als)
export(cp_apr)
export(serial_parCube)
export(rescal)
export(scRescal)
export(RescalReconstructBack)
export(recon_1prd_topn_par)
export(inv_rescal_sf_prd_chnkgrp)
export(spt_mttkrp)
export(getTensor)
export(Tensor_error)
export(rescal_01)
export(CP_01)
export(CP_R01)
export(tnsr2trp)
export(getTnsrijk)
export(getTensor3m)
export(tensor2mat)
export(rescal_Trp_Val)
export(default_parcube_options)

importFrom("methods", "as", "is")
importFrom("pracma", "accumarray")
importFrom("stats", "aggregate", "quantile", "runif", "density")
importFrom("graphics", "plot")
importFrom("utils", "data", "object.size")
importFrom("parallel", 'makeCluster','stopCluster','clusterExport')
importFrom("doParallel", 'registerDoParallel')
importFrom("foreach", 'foreach','%dopar%')