import(Matrix)

export(cp_nmu)
export(cp_als)
export(cp_apr)
export(serial_parCube)
export(rescal)
export(spt_mttkrp)
export(getTensor)
export(Tensor_error)
export(rescal_01)
export(CP_01)
export(CP_R01)
export(tnsr2trp)
export(getTnsrijk)
export(getTensor3m)
export(default_parcube_options)

importFrom("methods", "as", "is")
importFrom("pracma", "accumarray")
importFrom("stats", "aggregate", "quantile", "runif")
